@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
}
body i{
  font-size: 1.7rem;
}
header img{
  height: 40px;
  width: auto;
}
.logo{
  display: flex;
  align-items: center;
 }
.bi-list {
 color: black;
 padding: 6px;
}
.search {
  display: flex;
 }
 
.search form {
  display: flex;
  border: 1px solid #ddd;
  height: 45px;
}
.search input {
  width: 600px;
  padding:10px;
  border: 0;
  height: 100%;
  border-radius: 2px 0 0 2px
}
.search button {
  height: 100%;
  width: 60px;
  border: none;
}
.bi-mic {
  margin-top: 8px;
  margin-left: 3px;
}